
/* ----------------------------------------------------------------------- */
/* ----------------------- the main section css ----------------------------- */

.assistants-space-container {
    background-color: #000000;
    position: relative;

    z-index: 10;
    min-height: 100vh;
    max-width: 100%; /* Adjust the width */
    padding: 3rem 0rem;
    padding-inline-start: 6rem; 
    padding-inline-end: 1rem;  
    margin-top: 7rem; /* Push content below the fixed header */

  }

/* --------------- */

/* Main Container */

  
  /* Header Section */
  .assistants-header-section {
    margin-bottom: 20px;
  }
  
  .assistants-title {
    font-size: 1.8rem;
    font-weight: bold;
  }
  
  .assistants-buttons {
    display: flex;
    gap: 10px;
  }
  
  .assistants-btn {
    font-size: 0.9rem;
    padding: 8px 12px;
    display: flex;
    align-items: center;
    gap: 5px;
    color: #fff;
    background-color: #000;
    border: 1px solid gray;
    border-radius: 8px;
  }
  
  .assistants-btn:hover {
    color: #000;
    background-color: #fff;
    border: 1px solid gray;
  }
  

  .Show-Statistics-btn{
    font-size: 0.9rem;
    padding: 8px 12px;
    display: flex;
    align-items: center;
    gap: 5px;
    color: #fff;
    background-color: #000;
    border: 1px solid gray;
    border-radius: 8px;
  }

  .Show-Statistics-btn:hover {
    color: #000;
    background-color: #fff;
    border: 1px solid gray;
  }
  
  .go-back-btn {
    color: #fff;
    margin-right: 10px;
  }
  
  .history-btn {
    margin-left: 10px;
  }
  
  .ai-voice-section {
    margin-top: 50px;
  }
  
  .ai-voice-image {
    margin-top: 3rem;
    width: 35rem; 
    max-width: 100%; 
    border-radius: 12px; 
  }
/*   
  @media (max-width: 992px) {
    .assistants-space-container {
      max-width: 90%;
    }
  
    .assistants-title {
      font-size: 1.5rem;
    }
  
    .assistants-btn {
      font-size: 0.8rem;
      padding: 6px 10px;
    }
  
    .ai-voice-image {
      width: 25rem;
    }
  }
  



.sidebar-overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 400px;
  height: 100%;
  background-color: #ffffff;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1050;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
}

.sidebar-overlay.open {
  transform: translateX(0);
} */
