// Font Family
// =====================================Poppins==========================================
$poppins_black: 'poppins_black';
$poppins_black_italic: 'poppins_black_italic';
$poppins_bold: 'poppins_bold';
$poppins_bold_italic: 'poppins_bold_italic';
$poppins_extra_bold: 'poppins_extra_bold';
$poppins_extra_bold_italic: 'poppins_extra_bold_italic';
$poppins_extra_light: 'poppins_extra_light';
$poppins_extra_light_italic: 'poppins_extra_light_italic';
$poppins_italic: 'poppins_italic';
$poppins_light: 'poppins_light';
$poppins_light_italic: 'poppins_light_italic';
$poppins_medium: 'poppins_medium';
$poppins_medium_italic: 'poppins_medium_italic';
$poppins_regular: 'poppins_regular';
$poppins_semi_bold: 'poppins_semi_bold';
$poppins_semi_bold_italic: 'poppins_semi_bold_italic';
$poppins_thin: 'poppins_thin';
$poppins_thin_italic: 'poppins_thin_italic';
// =====================================Muli==========================================
$muli_black: 'muli_black';
$muli_black_italic: 'muli_black_italic';
$muli_bold: 'muli_bold';
$muli_bold_italic: 'muli_bold_italic';
$muli_extra_bold: 'muli_extra_bold';
$muli_extra_bold_italic: 'muli_extra_bold_italic';
$muli_extra_light: 'muli_extra_light';
$muli_extra_light_italic: 'muli_extra_light_italic';
$muli_italic: 'muli_italic';
$muli_light: 'muli_light';
$muli_light_italic: 'muli_light_italic';
$muli_regular: 'muli_regular';
$muli_semi_bold: 'muli_semi_bold';
$muli_semi_bold_italic: 'muli_semi_bold_italic';
// =====================================Work-Sans==========================================
$work_sans_black: 'work_sans_black';
$work_sans_black_italic: 'work_sans_black_italic';
$work_sans_bold: 'work_sans_bold';
$work_sans_bold_italic: 'work_sans_bold_italic';
$work_sans_extra_bold: 'work_sans_extra_bold';
$work_sans_extra_bold_italic: 'work_sans_extra_bold_italic';
$work_sans_extra_light: 'work_sans_extra_light';
$work_sans_extra_light_italic: 'work_sans_extra_light_italic';
$work_sans_light_italic: 'work_sans_light_italic';
$work_sans_italic: 'work_sans_italic';
$work_sans_light_italic: 'work_sans_light_italic';
$work_sans_light: 'work_sans_light';
$work_sans_medium: 'work_sans_medium';
$work_sans_medium_italic: 'work_sans_medium_italic';
$work_sans_regular: 'work_sans_regular';
$work_sans_semi_bold: 'work_sans_semi_bold';
$work_sans_semi_bold_italic: 'work_sans_semi_bold_italic';
$work_sans_thin_italic: 'work_sans_thin_italic';
// =====================================roboto-arabic==========================================
$roboto_bold: 'roboto_bold';
$roboto_medium: 'roboto_medium';
$roboto_regular: 'roboto_regular';
$roboto_light: 'roboto_light';
