/* Error Page Styles */
.error-container{
  /* background-color: #000000;  */

}

.error-page {

    align-items: center;
    height: auto;
    background-color: #ffffff; 
    text-align: center;
    font-family: 'Arial', sans-serif;
    padding: 20px;
    z-index: 100;

    width: 100%;
    margin-top: 130px;
    border-radius: 32px;
    padding-inline-start: 5rem; 
    padding-inline-end: 1rem;  
  }
  
  .error-content {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .error-illustration .error-image {
    max-width: 100%;
    width: 25rem;
    height: auto;
  }
 
  .error-btn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #000;
    color: #fff;
    border: 1px solid gray;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
  }
  
  .error-btn:hover {
    background-color: #ffffff;
    color: #000;
  }
  
  /* 
  @media (max-width: 768px) {
    h1 {
      font-size: 20px;
    }
  
    h2 {
      font-size: 72px;
    }
  
    .error-btn {
      
      font-size: 14px;
      padding: 8px 16px;
    }
  }
  


 @media only screen and (min-width: 600px) {
  .error-page {

    margin-top: -12rem;
  }
}

@media only screen and (min-width: 768px) {
  .error-page {

    margin-top: -14rem;
  }
  h1 {
    font-size: 20px;
  }

  h2 {
    font-size: 72px;
  }

  .error-btn {
    
    font-size: 14px;
    padding: 8px 16px;
  }
}


@media only screen and (min-width: 1200px) {
  .error-page {

    margin-top: -8rem;
  }
  }


@media only screen and (min-width: 1400px) {
  .error-page {

    margin-top: -20rem;
  }
  } */

